/*.button {
    -fx-background-color: #76cd77;
    -fx-text-fill: white;
    -fx-padding: 8 15;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: black;
}

.root {
    -fx-background-color: #eeeeee;
}
.form-text-field, .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}
.green-button {
    -fx-background-color: #28a745; /* Bootstrap green color
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
}*/
.vbox {
    -fx-background-color: #f4f4f4;
    -fx-spacing: 20;
}

.card-pane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10);
}

.label-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.label-normal {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}


.accommodation-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.type-and-price {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}

.book-button {
    -fx-background-color: #5cb85c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
}

.book-button:hover {
    -fx-background-color: #4cae4c;
}

.button {
    -fx-background-color: #5cb85c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
}

.button:hover {
    -fx-background-color: #4cae4c;
}

.card {
    -fx-padding: 15;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}
